body {
  text-align: center;
}

input {
  width: 310px;
  height: 50px;
  padding: 0 10px 0 10px;
  border: 1px solid #cccccc;
  background-color: #fff;
}

button {
  width: 300px;
  height: 50px;
  margin-bottom: 50px;
  border: none;
  cursor: pointer;
  background-color: rgb(10, 205, 230);
}

button:disabled {
  background-color: rgb(10, 205, 230);
}

button:hover,
button:focus {
  background-color: rgb(11, 170, 190);
  border: 2px solid rgb(11, 170, 190);
}

.timer {
  display: flex;
  justify-content: center;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
}

.value {
  font-weight: 700;
  font-size: 40px;
}

.label {
  color: #cccccc;
}
